@import url('../../shared/style/fonts.scss');
@import url('../../shared/style/_reset.scss');

header {
    height: 10%;
    border-bottom: 1px solid rgba(2, 2, 163, 0.089);
    box-shadow: 0 4px 5px rgba(188, 188, 188, 0.25);
    padding: 15px 0;
    margin-bottom: 40px;
    font-family: 'Mulish-Regular';
    font-weight: 400;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;

    img {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }

    h1 {
        font-family: 'YanoneKaffeesatz';
        font-weight: 400;
        font-size: 28px;
        margin: 0;
    }
}

section {
    display: flex;
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 5px;

    ul {
        display: flex;
        justify-content: space-between;
        width: 66.6%;
        list-style-type: none;
        margin: 0;
    }

    li {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid lightgray;
        font-size: 16px;
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        margin-right: 10px;
    }

    span {
        font-size: 20px;
        font-family: 'YanoneKaffeesatz';
        margin-right: 5px;
        margin-top: 5px;
    }

    p {
        font-size: 16px;
        margin: 0;
    }
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
}

.dateDiv {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1300px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    header {
        padding: 15px 20px;
    }

    .container {
        width: 100%;
    }

    .logo {
        img {
            width: 45px;
            height: 45px;
        }

        h1 {
            font-size: 24px;
        }
    }

    section {
        li {
            font-size: 14px;
        }

        img {
            width: 25px;
            height: 25px;
            border-radius: 8px;
        }

        span {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media (max-width: 800px) {
    .logo {
        img {
            width: 40px;
            height: 40px;
        }
    }

    section {
        width: 60%;
    }

    .container {
        width: 100%;
    }
}

@media (max-width: 620px) {

    section {
        border: none;

        ul {
            flex-direction: column;
        }

        li {
            align-items: flex-end;
            width: 100%;
            font-size: 14px;
        }

        img {
            width: 20px;
            height: 20px;
            border-radius: 6px;
        }

        span {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

    .dateDiv {
        width: 50%;
    }
}

@media (max-width: 465px) {

    header {
        padding: 0 10px;
    }

    section {
        width: 50%;
        border: none;

        ul {
            flex-direction: column;
            justify-content: center;
        }

        li {
            width: 100%;
            font-size: 12px;
            border: none;
        }

        span {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }
    }

    .dateDiv {
        display: flex;
        flex-direction: column;
        
        img {
            margin: 0;
        }
    }
}

@media (max-width: 340px) {
    section {
        justify-content: flex-end;
    }
    
    .dateDiv {
        display: none;
    }
}