@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../../assets/fonts/YanoneKaffeesatz-ExtraLight.ttf');
    font-weight: 200;
}

@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../../assets/fonts/YanoneKaffeesatz-Light.ttf');
    font-weight: 300;
}

@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../../assets/fonts/YanoneKaffeesatz-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../../assets/fonts/YanoneKaffeesatz-Medium.ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../../assets/fonts/YanoneKaffeesatz-SemiBold.ttf');
    font-weight: 600;
}

@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../../assets/fonts/YanoneKaffeesatz-Bold.ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'Mulish-Regular';
    src: url('../../../assets/fonts/Mulish-Regular.ttf');
    font-weight: 400;
}